body{
	background-image: url(i.jpg);
}
h1{
	color: red;
	text-align: center;
	border: 5px solid purple;
}

p {
	color: gold}
}

header {
	align-content: right;
}
li{

}

.pic1{
	align-content: center;
}